/*
	
	Resumo de Flex Box:

	display: flex; - inicia o flex no container

*/

body {
  background-color: #ddd;
}

.container {
  display: flex;
}

.box {
  height: 100px;
  width: 100px;
}

.first {
  background-color: red;
}

.second {
  background-color: green;
}

.third {
  background-color: blue;
}
