/* aula 02 */
.animation-div {
  width: 200px;
  height: 200px;
  background-color: blue;
  animation: animation1 5s;
}

@keyframes animation1 {
  to {
    background-color: red;
  }

  from {
    background-color: yellow;
  }
}

/* aula 03 */

@keyframes animation2 {
  0% {
    background-color: green;
  }

  30% {
    background-color: #00fff2;
    width: 440px;
  }
  50% {
    width: 500px;
  }

  70% {
    width: 700px;
  }

  100% {
    background-color: #ea00ff;
  }
}

.animation-div2 {
  width: 400px;
  height: 400px;
  background-color: black;
  animation: animation2 3s;
}

/* aula 04 */

@keyframes animation3 {
  from {
    left: 0px;
  }

  to {
    left: 200px;
    background-color: green;
  }
}

.animation-div3 {
  width: 100px;
  height: 100px;
  background-color: purple;
  animation-name: animation3;
  animation-duration: 2s;
  animation-delay: 3s;
  position: relative;
  animation-iteration-count: 3;
}

/* aula 05 */

h1 {
  background-color: #ccc;
  padding: 10px;
}

@keyframes animation4 {
  from {
    left: 0;
  }

  to {
    left: 500px;
  }
}

.box {
  width: 50px;
  height: 50px;
  background-color: orange;
  position: relative;
  animation-name: animation4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

#animation-div4 {
  animation-timing-function: linear;
}
#animation-div5 {
  animation-timing-function: ease;
}
#animation-div6 {
  animation-timing-function: ease-in;
}
#animation-div7 {
  animation-timing-function: ease-out;
}
#animation-div8 {
  animation-timing-function: ease-in-out;
}

/* aula 06 */

#id9 {
  margin-top: 40px;
  background-color: aliceblue;
  border: 1px solid black;
}

@keyframes animation5 {
  0% {
    left: 0;
  }

  25% {
    left: 20px;
  }
  50% {
    left: 60px;
    background-color: #ff0000;
  }
  75% {
    left: 120px;
    background-color: #ff7b00;
  }
  100% {
    left: 50px;
    background-color: #00fff2;
  }
}
/* shorthand animation: 
name, 
duration, 
timing-function , 
delay, 
iteration */
#animation-div9 {
  width: 50px;
  height: 50px;
  background-color: brown;
  animation: animation5 3s linear 2s infinite;
  position: relative;
}

/* aula 07 */

.btn {
  display: block;
  position: relative;
  padding: 10px;
  margin-top: 20px;
  width: 150px;
  height: 75px;
  color: #fff;
  text-transform: uppercase;
  background-color: #333;
  border: 1px solid #333;
  cursor: pointer;
  border-radius: 5px;
  transition: 1s;
}

.btn:hover {
  color: #333;
  background-color: #fff;
}

.transition {
  margin-top: 30px;
  width: 50px;
  height: 100px;
  background-color: red;
  transition: 4s;
}

.transition:hover {
  width: 800px;
}
