@import './css/sidebar.css';
@import './css/global.css';

.content {
  height: 100%;
}

.content header {
  padding: 8px 20px;
}

.content .user {
  padding: 0;
}

.conversation {
  background-color: rgb(228, 218, 207);
  height: calc(100% - 120px);
  position: relative;
}

.bg-image {
  background-image: url('./img/background_whats.png');
  background-position: center top;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.chat-messages {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 30px 80px;
}

.chat-messages p {
  display: block;
  color: #262626;
  font-size: 14px;
  padding: 7px;
  border-radius: 7px;
  position: relative;
  width: 200px;
  margin-bottom: 12px;
}

.guest-message {
  background-color: white;
}

.guest-message::before {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 17px solid transparent;
  border-right: 17px solid #fff;
  position: absolute;
  top: 0;
  left: -10px;
}

.user-messages {
  background-color: #dcf8c6;
  float: right;
}

.user-messages::before {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #dcf8c6;
  position: absolute;
  top: 0;
  right: -10px;
}

.content .input {
  background-color: rgb(218, 218, 218);
}

.content .input {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  padding: 8px 14px;
  gap: 12px;
}

.content .input i {
  font-size: 18px;
}

.content .input input {
  padding: 12px;
  border-radius: 20px;
  width: -webkit-fill-available;
}
