.contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.contato h1 {
  margin-bottom: 20px;
}
.contato p {
  margin-bottom: 20px;
  color: gray;
  font-size: 18px;
}
form {
  max-width: 550px;
}

form div {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
form input,
form textarea {
  width: 100%;
  padding: 16px;
  border-radius: 5px;
  border: none;
  background-color: rgb(207, 207, 207);
  font-size: 16px;
}

form textarea {
  resize: none;
  margin-bottom: 20px;
}
form button {
  padding: 20px 60px;
  border: none;
}

form button {
  border: 1px solid rgb(77, 167, 137);
  background-color: rgb(77, 167, 137);
  max-width: max-content;
  margin: 0 auto;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

form button:hover {
  transition: 0.5s;
  background-color: white;
  color: rgb(77, 167, 137);
}
