header {
  width: 100%;
  background-color: rgba(4, 5, 41, 0.867);
}

.logo {
  width: 50px;
  height: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

.header-nav {
  display: flex;
  gap: 20px;
}

.header-nav li a {
  color: white;
  text-transform: uppercase;
}

.header-nav li a:hover {
  color: rgb(77, 167, 137);
}

.login {
  background-color: rgb(77, 167, 137);
  border: 1px solid rgb(77, 167, 137);
  padding: 12px 16px;
  border-radius: 5px;
}

.login:hover {
  transition: 0.5s;
  background-color: white;
  color: rgb(77, 167, 137);
}
