.planos {
  text-align: center;
  display: grid;
  justify-content: center;
}

.planos h1 {
  margin-bottom: 20px;
  font-size: 32px;
}
.planos p {
  color: gray;
  font-size: 18px;
  margin-bottom: 90px;
}

.planos-content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.planos-card {
  background-color: rgb(230, 230, 230);
  width: 200px;
  margin-top: 40px;
}

.planos-card h1 {
  background-color: rgb(16, 18, 32);
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  padding: 60px 0 20px;
  position: relative;
}

.planos-card h1::before {
  content: 'R$15/mês';
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -50px;
  width: 100px;
  height: 100px;
  left: 50px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 50%;
  background-color: rgb(64, 184, 64);
}

.planos-card:nth-child(2) h1::before {
  content: 'R$30/mês';
}

.planos-card:nth-child(3) h1::before {
  content: 'R$50/mês';
  background-color: rgb(160, 58, 58);
}

.planos-card:nth-child(4) h1::before {
  content: 'R$100/mês';
}

.planos-card:nth-child(3) a {
  background-color: rgb(160, 58, 58);
}

.planos-card ul {
  display: grid;
  gap: 18px;
}

.planos-card a {
  width: 100%;
  padding: 33px;
  display: inline-block;
  margin-top: 39px;
  color: white;
  background: rgb(64, 184, 64);
}
.planos-card a:hover {
  transition: 0.6s;
  filter: brightness(0.8);
}
