.sessao {
  max-width: 1200px;
  padding: 20px 60px;
}

.sessao-title {
  font-size: 32px;
  margin: 48px 0px 32px;
  grid-column: 1/-1;
}

.btn {
  color: white;
  background-color: #102abe;
  border: 2px solid #102abe;
  padding: 16px 24px;
  max-width: max-content;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  transition: 0.7s;
  background-color: white;
  color: #102abe;
}
